body {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  font-size: 100%; }

a {
  text-decoration: none;
  color: black; }

h1, h3, h4 {
  margin: 0; }

#logo {
  margin-top: .3em;
  font-weight: bolder;
  font-size: 2em; }

.logoLine {
  text-align: center;
  margin: 0;
  border-bottom: .2em solid gray;
  margin-left: 7%;
  margin-right: 7%; }

nav {
  text-align: center;
  list-style-type: none; }
  nav li {
    display: inline-block;
    padding: .3em 7%; }
  nav a {
    text-decoration: none;
    font-size: 1.3em; }

.logRegister {
  font-size: 1.2em; }

form {
  text-align: center;
  padding-top: 10em; }
  form input {
    width: 20em;
    border: .2em solid gray;
    height: 2em;
    margin-bottom: 2em;
    margin-bottom: 2em; }
  form button {
    border: none;
    background: white;
    border: .2em solid gray; }

.postForm {
  padding-top: 1em; }
  .postForm input {
    width: 50em; }
  .postForm textarea {
    width: 50em;
    border: .2em solid gray;
    margin-bottom: 2em;
    height: 20em; }
  .postForm select {
    width: 51em;
    border: .2em solid gray;
    margin-bottom: 2em;
    border-radius: none; }

main {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1em; }

.date {
  padding-bottom: .5em; }

.body {
  padding-bottom: .5em; }

#post-comment-form textarea {
  width: 25em;
  height: 10em;
  margin: 0 auto;
  border: .2em solid gray;
  margin-bottom: 2em; }

.allPost .body {
  padding-bottom: .5em;
  border-bottom: .1em solid gray; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: .5rem;
  text-align: center;
  border-top: .2em solid gray;
  margin-left: 7%;
  margin-right: 7%; }
  footer a {
    padding-right: 4%;
    padding-left: 4%; }
  footer body {
    text-indent: 1em; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }
